<div class="container mt-4">
   <p class="display-4 text-title">Create Project</p>

   <div class="container table-wrapper">
      <form class="container">
        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputName" class="form-control form-transparent-input" placeholder="Fist Name" required autofocus>
                 <label for="inputName">Project Name</label>
             </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputHour" class="form-control form-transparent-input" placeholder="Last Name" required autofocus>
                 <label for="inputHour">Planned Hours</label>
             </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="email" id="inputBudget" class="form-control form-transparent-input" placeholder="Email address" required autofocus>
                 <label for="inputBudget">Budget</label>
              </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputDesc" class="form-control form-transparent-input" placeholder="Phone" required autofocus>
                 <label for="inputDesc">Description</label>
             </div>
          </div>
        </div>

       </form>
       <div class="row mr-1">
           <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><button type="button" class="btn btn-outline-dark mb-3 float-right">+ Add project</button></div>
         </div>

     </div>
 </div>
