<div class="container mt-4">
   <p class="display-4 text-title">Create User</p>

   <div class="container table-wrapper">
      <form class="container">
        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputFirst" class="form-control form-transparent-input" placeholder="Fist Name" required autofocus>
                 <label for="inputFirst">First Name</label>
             </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputLast" class="form-control form-transparent-input" placeholder="Last Name" required autofocus>
                 <label for="inputLast">Last Name</label>
             </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="email" id="inputEmail" class="form-control form-transparent-input" placeholder="Email address" required autofocus>
                 <label for="inputEmail">Email address</label>
              </div>
          </div>

          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputPhone" class="form-control form-transparent-input" placeholder="Phone" required autofocus>
                 <label for="inputPhone">Phone</label>
             </div>
          </div>
        </div>

        <div class="row pt-2">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <div class="form-label-group">
                 <input type="text" id="inputBirth" class="form-control form-transparent-input" placeholder="Date of birth" required autofocus>
                 <label for="inputBirth">Date of birth</label>
             </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
             <p class="text-label color-label m-1">Roles</p>
             <div class="custom-control custom-radio custom-control-inline">
                 <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                 <label class="custom-control-label color-label" for="customRadioInline1">Administrator</label>
             </div>
             <div class="custom-control custom-radio custom-control-inline">
               <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
               <label class="custom-control-label color-label" for="customRadioInline2">User</label>
             </div>
          </div>
        </div>
       </form>
       <div class="row mr-1">
           <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12"><button type="button" class="btn btn-outline-dark mb-3 float-right">+ Add user</button></div>
         </div>
     </div>
 </div>
